<div class="custom-shape-divider-bottom-1752462819">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
</div>

<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 px-4">
  <div class="card-auth flex flex-col md:flex-col lg:flex-row w-full max-w-5xl bg-white shadow-md rounded-xl overflow-hidden lg:max-w-4xl md:max-w-2xl sm:w-full">
    
    <div class="hidden lg:block lg:w-1/2">
      <img src="{{ url_for('static', filename='login.svg' ) }}" alt="Login Image" class="w-full h-full object-cover">
    </div>
    
    <div class="w-full lg:w-1/2 p-8">
      <h2 class="text-gray-900 text-2xl font-semibold mb-2 text-center">{{ title }} - <span class="text-indigo-600">{{ subtitle }}</span></h2>
      <p class="leading-relaxed mb-5 text-gray-600 text-center">Masukan user dan password untuk login</p>
      
      <div class="mb-4">
        <label for="user" class="block text-sm text-gray-600 mb-1">Username</label>
        <input type="text" id="user" name="user" class="form-control" placeholder="@username">
      </div>
      
      <div class="mb-6">
        <label for="password" class="block text-sm text-gray-600 mb-1">Password</label>
        <div class="input-group">
          <input type="password" id="pass" class="form-control" placeholder="xxx123"/>
              <span class="input-group-text" id="togglePassword" style="cursor: pointer">
                <i class="bi bi-eye-slash" id="eyeIcon"></i>
              </span>
            </div>
      </div>
      
      <button id="login-btn" type="submit" disabled class="w-full bg-indigo-500 text-white mb-1 py-2 rounded-md hover:bg-indigo-600 transition duration-200" title="Mohon isi dahulu form nya">{{ subtitle }}</button>
      
      <div class="flex items-center my-4">
  <hr class="flex-grow border-t border-gray-800">
  <span class="px-3 text-xs text-gray-500">Login dengan akun social media</span>
  <hr class="flex-grow border-t border-gray-800">
</div>
      <div class="container">
        <div class="row">
          <div class="col">
            <button onclick="google()" class="w-full bg-indigo-400 text-white py-2 rounded-md hover:bg-indigo-500 transition duration-200"><i class="bi bi-google me-1"></i> Google</button>
          </div>
          <div class="col">
            <button onclick="facebook()" class="w-full bg-indigo-400 text-white py-2 rounded-md hover:bg-indigo-500 transition duration-200"><i class="bi bi-facebook me-1"></i> Faceboook</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright mt-3 font-semibold font-sans text-center">Copyright © 2025 Yoma Solutions</p>
</div>

  <div id="alert-box" class="custom-alert">
    <i id="alert-icon" class="bx"></i>
    <span id="alert-msg"></span>
  </div>

  <script>
    $(document).ready(function () {
      $("#login-btn").on("click", function () {
        const username = $("#user").val().trim();
        const password = $("#pass").val().trim();

      if (!username && !password) {
        showAlert("Username dan password tidak boleh kosong!", "danger");
        return;
      }
      if (!username) {
        showAlert("Username tidak boleh kosong!", "danger");
        return;
      }
      if (!password) {
        showAlert("Password tidak boleh kosong!", "danger");
        return;
      }

      $("#login-btn").prop("disabled", true);

      $.ajax({
        type: "POST",
        url: "/api/login",
        contentType: "application/json",
        dataType: "json",
        data: JSON.stringify({ username, password }),
        xhrFields: {
          withCredentials: true,
        },
        success: function (data, textStatus, xhr) {
          console.log("status:", xhr.status);
          showAlert("Login berhasil!", "success", true);

          setTimeout(() => {
            window.location.href = "/dashboard";
          }, 1500);
        },
        error: function (xhr) {
          const msg = xhr.responseJSON?.msg || "Terjadi kesalahan saat login.";
          const status = xhr.status;
          let type = "danger";

          if (status === 401) {
            type = "danger";
          } else if (status >= 400 && status < 500) {
            type = "warning";
          } else if (status >= 500) {
            type = "danger";
          }

          showAlert(msg, type);
        },
        complete: function () {
          $("#login-btn").prop("disabled", false);
        },
      });
    });
    $("#togglePassword").on("click", function () {
      const passInput = $("#pass");
      const eyeIcon = $("#eyeIcon");
      const type = passInput.attr("type") === "password" ? "text" : "password";
      passInput.attr("type", type);
      eyeIcon.toggleClass("bi-eye bi-eye-slash");
    });

    function checkFormFilled(){
      const username = $("#user").val();
      const password = $("#pass").val();
      const isfailed = username && password;
      $("#login-btn").prop("disabled", !isfailed);

      if(!isfailed){
        $("#login-btn").attr("title", "Mohon Isi dahulu");
      } else {
        $("#login-btn").removeAttr("title");
      }
    }
    $("#user, #pass").on("input", checkFormFilled);
  });
  function showAlert(message, type = "danger") {
  const alertBox = $("#alert-box");
  const alertIcon = $("#alert-icon");
  const loginBtn = $("#login-btn");

  loginBtn.prop("disabled", true);

  alertBox
    .removeClass(
      "custom-alert custom-success custom-danger custom-warning custom-info animate-drop"
    )
    .addClass(`custom-alert custom-${type} animate-drop`);

  const iconClass = {
    success: "bx bx-check-circle",
    danger: "bx bx-error-circle",
    warning: "bx bx-error",
    info: "bx bx-info-circle",
  };
  alertIcon.removeClass().addClass(iconClass[type] || "bx bx-info-circle");

  $("#alert-msg").text(message);

  alertBox.fadeIn();

  setTimeout(() => {
    alertBox.fadeOut(() => {
      alertBox.removeClass("animate-drop");
      loginBtn.prop("disabled", false);
    });
  }, 1500);
}

  function google() {
    Swal.fire({
      title: "Google Login",
      text: "Fitur ini belum tersedia.\nMohon Tunggu pembaruan selanjutnya.",
      icon: "info",
      confirmButtonText: "OK",
    });
  }
  function facebook() {
    Swal.fire({
      title: "Facebook Login",
      text: "Fitur ini belum tersedia.\nMohon Tunggu pembaruan selanjutnya.",
      icon: "info",
      confirmButtonText: "OK",
    });
  }
</script>
