<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link
      href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
      <div
        class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col w-full relative z-10 shadow-md"
      >
        <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">
          PDF to SQL Data Extraction Tool
        </h2>
        <p class="leading-relaxed mb-5 text-gray-600">
          Projek ini bertujuan untuk membuat alat yang bisa mengambil data dari
          dokumen PDF dan mengubahnya ke format yang bisa digunakan di SQL.
        </p>

        <!-- Flash Message -->
        {% with messages = get_flashed_messages(with_categories=True) %} {% if
        messages %}
        <div class="my-3" id="alert">
          {% for category, data in messages %} {% set message = data[0] if data
          is iterable and data|length > 1 else data %} {% set filecsv = data[1]
          if data is iterable and data|length > 1 else None %}
          <div
            class="p-4 mb-2 text-white rounded {{ 'bg-green-200' if category == 'success' else 'bg-red-200' }}"
          >
            <h1
              class="text-base font-semibold {{ 'text-green-800' if category == 'success' else 'text-red-800' }}"
            >
              {{ 'Convert Completed' if category == 'success' else 'Error
              Occurred' }}
            </h1>
            <p
              class="mt-2 {{ 'text-green-800' if category == 'success' else 'text-red-800' }}"
            >
              {{ message }}
            </p>
            {% if category == 'success' and filecsv %}
            <div class="mt-3 space-x-2">
              <a
                href="{{ url_for('download', filename=filecsv) }}"
                type="button"
                class="text-green-800 font-semibold py-1 px-2 rounded focus:outline-none focus:ring-2 focus:ring-green-500 hover:bg-green-300"
                >Download CSV</a
              >
              <a
                href="/data"
                type="button"
                class="text-green-800 font-semibold py-1 px-2 rounded focus:outline-none focus:ring-2 focus:ring-green-500 hover:bg-green-300"
              >
                Database
              </a>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}

        <form
          class="dropzone"
          id="fileDropzone"
          action="/submit"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="dz-message needsclick">
            <i class="ki-duotone ki-file-up fs-3x text-primary"
              ><span class="path1"></span><span class="path2"></span
            ></i>
            <div class="ms-4">
              <h3 class="fs-5 fw-bold text-gray-900 mb-1">
                Drop files here or click to upload.
              </h3>
              <span class="fs-7 fw-semibold text-gray-500"
                >File anda akan otomatis di convert</span
              >
            </div>
          </div>
        </form>
        <p class="text-xs text-gray-500 mt-3">
          Masukan file pdf untuk mendownload data csv yang disimpan di PostgreSQL
        </p>
      </div>
    </div>

    <script>
      Dropzone.autoDiscover = false;
      var myDropzone = new Dropzone("#fileDropzone", {
        url: "/submit",
        paramName: "file", // harus sama dengan name input di Flask
        maxFiles: 10,
        maxFilesize: 10, // MB
        addRemoveLinks: true,
        acceptedFiles: ".pdf,.webp",
        dictDefaultMessage: "Drop files here or click to upload.",
        init: function () {
          this.on("sending", function (file, xhr, formData) {
            // Optional: reload page or show flash message
            Swal.fire({
              title: "Processing...",
              text: "Please wait your file being converted",
              allowOutsideClick: false,
              didOpen: () => {
                Swal.showLoading();
              },
            });
          });

          this.on("success", function (file, response) {
        
              window.location.reload();

          });

          this.on("error", function (file, errorMessage) {
            Swal.fire({
              icon: "error",
              title: "Error!",
              text: "Terjadi kesalahan saat upload",
            });
          });
        },
      });

      $("#close").on("click", function () {
        $("#alert").hide();
      });
    </script>
  </body>
</html>
