<script>
  $(window).on("load", function () {
    const loading = $("#loading-screen");
    if (loading.length) {
      loading.css({
        transition: "opacity 0.3s ease",
        opacity: 0,
      });
      setTimeout(function () {
        loading.hide();
        $("#main-content").css("visibility", "visible");
        $(window).trigger("pageReady");
      }, 300);
    }
  });
  const Toast = Swal.mixin({
    toast: true,
    position: "top-end",
    showConfirmButton: false,
    timer: 3000,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.onmouseenter = Swal.stopTimer;
      toast.onmouseleave = Swal.resumeTimer;
    },
  });
</script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="{{ url_for('static', filename='js/sweetalert2@11.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/flatpickr.js') }}"></script>
<script src="{{ url_for('static', filename='js/gsap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/browser@4.js') }}"></script>
