<script
  src="{{ url_for('static', filename='js/jquery.min.js') }}"
></script>
<link
  href="{{ url_for('static', filename='css/tailwind.min.css') }}"
  rel="stylesheet"
/>
<link
  href="{{ url_for('static', filename='css/boxicons.min.css') }}"
  rel="stylesheet"
/>
<link
  rel="icon"
  href="{{ url_for('static', filename='unnamed.png') }}"
  media="(prefers-color-scheme: light)"
/>
<link
  rel="icon"
  href="{{ url_for('static', filename='unnamed.png') }}"
  media="(prefers-color-scheme: dark)"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/all.min.css') }}"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/font-awesome.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/bootstrap-icons.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}"
/>

<link
  href="{{ url_for('static', filename='css/select2.min.css') }}"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/flatpickr.min.css') }}"
/>

<link
  href="{{ url_for('static', filename='css/dropzone.css') }}"
  rel="stylesheet"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/notyf.min.css') }}"
/>
<script src="{{ url_for('static', filename='js/dropzone-min.js') }}"></script>

<script src="{{ url_for('static', filename='js/notyf.min.js') }}"></script>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/toastify.min.css') }}"
/>
<script src="{{ url_for('static', filename='js/toastify-js.js') }}"></script>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/style.css') }}"
/>
