<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}{% if subtitle %} - {{ subtitle}}{% endif %}</title>
    {% include "components/header.html" %}
  </head>
  <body>
    {% if user %}
    <nav class="text-gray-400 bg-gray-900 body-font fixed-top">
<div class="container mx-auto flex flex-wrap p-1 flex-col md:flex-row items-center">
  <a class="flex title-font font-medium items-center text-white my-2 md:mb-0">
      <img src="{{ url_for('static', filename='logo.png') }}" class="w-10 h-10 text-white p-1 bg-indigo-500 rounded-full">
    <span class="ml-3 text-xl">Converter`</span>
  </a>
  <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
    <a class="mr-5 hover:text-white {{ 'text-white font-semibold border-b-2 border-white' if request.path == '/dashboard' else '' }}" href="/dashboard">Dashboard</a>
    <a class="mr-5 hover:text-white {{ 'text-white font-semibold border-b-2 border-white' if request.path == '/convert' else '' }}" href="/convert">Convert</a>
    <a class="mr-5 hover:text-white {{ 'text-white font-semibold border-b-2 border-white' if request.path == '/data' else '' }}" href="/data">Data</a>
  </nav>
  <button type="button" id="btn-logout" class="inline-flex items-center bg-gray-800 border-0 py-2 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-1 md:mt-0">Log Out
  </button>
  </nav>
    {% endif %}
    <div id="loading-screen">
      <img
        src="{{ url_for('static', filename='loading.gif') }}"
        alt="Loading..."
      />
    </div>
    <div id="main-content" style="visibility: hidden">
  </div>

      {% block content %}{% endblock %}
    </div>
      {% include "components/footer.html" %}
  </body>
  <script>
  $("#btn-logout").on('click', function () {
    const toast = Toastify({
      text: `
        Apakah Anda yakin ingin logout? 
        <br>
        <button id='logoutConfirmBtn' 
          style='margin-top:8px; padding:5px 10px; color:white; border:none; border-radius:4px; font-size:16px;'>
          ✔
        </button>
      `,
      duration: 3000,
      close: true,
      gravity: "top",
      position: "right",
      escapeMarkup: false,
      style: {
        background: "#fef3c7",
        color: "#000",
        width: "300px",
        fontSize: "14px",
        marginTop: "50px"
      }
    });

    toast.showToast();

    setTimeout(() => {
      const confirmBtn = document.getElementById('logoutConfirmBtn');
      if (confirmBtn) {
        confirmBtn.addEventListener('click', function () {
          fetch('/logout')
            .then(res => {
              if (res.ok) {
                Toastify({
                  text: "Berhasil logout",
                  duration: 2000,
                  gravity: "top",
                  position: "right",
                  style: {
                    background: "#10b981",
                    marginTop: "50px"
                  }
                }).showToast();

                setTimeout(() => window.location.href = "/", 1000);
              } else {
                Toastify({
                  text: "Gagal logout!",
                  duration: 2000,
                  gravity: "top",
                  position: "right",
                  style: {
                    background: "#dc2626",
                    marginTop: "50px"
                  }
                }).showToast();
              }
            });
        });
      }
    }, 300);
  });
</script>
</html>
