<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}{% if subtitle %} - {{ subtitle}}{% endif %}</title>
    {% include "components/header.html" %}
  </head>
  <body>
    <div id="loading-screen">
      <img
        src="{{ url_for('static', filename='loading.gif') }}"
        alt="Loading..."
      />
    </div>
    <div id="main-content" style="visibility: hidden">
      {% block content %}{% endblock %}
    </div>

    <script>
      $(window).on("load", function () {
        $("#loading-screen").hide();
        $("#main-content").css("visibility", "visible");
      });
      </script>
      {% include "components/footer.html" %}
  </body>
</html>
